@model LojaVirtual.Models.Produto

<h3>Produto Marlon Brando</h3>

<br /><b>Produto:</b>@Model.Nome
<br /><b>Produto:</b>@Model.Descricao
<br /><b>Produto:</b>@Model.Valor.ToString("C")


<br />
Todos os direitos reservados &copy; @DateTime.Now.Year
