@{
    var todasCategorias = (List<Categoria>)ViewData["todasCategorias"] ?? (List<Categoria>)ViewBag.todasCategorias;
    var categoriaPai = (Categoria)ViewData["categoriaPai"] ?? ViewBag.Categoria;


    var categoriasFilho = todasCategorias.Where(c => c.CategoriaPaiId == categoriaPai.Id);
}
@if (categoriasFilho.Count() > 0)
{
    <li class="dropdown-submenu">
        <a class="dropdown-item" tabindex="-1" href="#">@categoriaPai.Nome</a>
        <ul class="dropdown-menu">
            @foreach (var subCategoria in categoriasFilho)
            {
                <li class="dropdown-item"><a href="#">@subCategoria.Nome</a></li>
            }
        </ul>
    </li>
}
else
{
    <li class="dropdown-item"><a href="#">@categoriaPai.Nome</a></li>
}